<div class="fullscreen-bg" style="z-index: -100">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="../assets/images/SportsCars2016.mp4" type="video/webm">
    <source src="../assets/images/SportsCars2016.mp4" type="video/mp4">
    <source src="../assets/images/SportsCars2016.mp4" type="video/ogg">
  </video>
</div>

<div class="bs-component container" style="margin-top:100px">
    <div class="row">
        <div>
            <h1>Our cars:</h1>
            <p>Here you can find the best cars  in world!</p>
        </div>
    </div>

    <div class="container">
        <div class="row" >
          <div class="col-md-3 image_wrapper"  *ngFor="let car of cars; let i= index" (click)="carSelected(car.id,i)">
            <div  [class.selected]="car.selected">
              <img  [src]="car.src">
              <div>{{car.name | uppercase}}</div>
            </div>
          </div>
        </div>


          <ul class="pagination">
            <li [class.disabled]="page <= 1"><a [class.disabled]="page-1 <= 0" (click)="pagination(page-1)">«</a></li>
            <li><a (click)="pagination(first)" [class.page_selected]="first == page">{{first}}</a></li>
            <li><a (click)="pagination(middle)" [class.page_selected]="middle == page">{{middle}}</a></li>
            <li><a (click)="pagination(last)" [class.page_selected]="last == page">{{last}}</a></li>
            <li [class.disabled]="page >= (carsArray.length/4)-1"><a [class.disabled]="page+1 >lastPage" (click)="pagination(page+1)">»</a></li>
          </ul>
          <app-selected-car   [car]="selectedCar"></app-selected-car>


    </div>
</div>
