<div class="bs-component" style="margin-top:100px">

    <div class="row">

        <h3>Load image will scrolling</h3>
          <div class="search-results shadow"
               infinite-scroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="300"
               (scrolled)="onScroll()">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wyaJSWEEl8w" frameborder="0" allowfullscreen></iframe>
                   <div calss="row">
                     <span *ngFor="let car of carsGallery">
                       <img  [src]="car.src">
                     </span>

                   </div>

          </div>


    </div>
</div>





