row{
  display: flex;
  align-items:center;
  justify-content:center;
}

.main_image_text{
  padding-top: 40px;
}

.selected_car{
  max-width: 500px;
  max-height: 350px;
  margin-top: 40px;
  width: 100%;
}
